.navbar {
  position: fixed;
  height: 48px;
  width: 100%;
  background-color: $color-eee;
  line-height: 1;
  z-index: 100;
}

.navbar--container {
  @include non-desktop {
    margin-right: 15px;
    margin-left: 15px;
  }
  display: block;
  max-width: 1000px;
  margin: auto;
}

.navbar--placeholder {
  height: 48px;
}

.navbar--links {
  float: right;
  height: 48px;
}

.navbar--item {
  display: inline-block;
  margin-left: 70px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: $color-999;
  &:hover {
    color: $color-666;
    text-decoration: none;
  }
}

.navbar--menu-icon {
  font-size: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  &:hover {
    cursor: pointer;
  }
}

.navbar--logo {
  margin-top: 7px;
}